/* stylesheet for rafting website. Created by Xaidie Campbell
/* January 23, 2026 */
:root {
    --primary-color: rgb(36, 57, 46);
    --secondary-color: rgb(111, 155, 237);
    --accent1-color: rgb(222, 230, 220);
    --accent2-color: rgb(221, 139, 17);
    --heading-font: Montserrat;
    --body-font: helvetica;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary);
}

/* h2 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
} */

nav,
section,
article {
    margin: 16px;
    padding: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: rgb(22, 3, 3);
}

p {
    margin: 16px;
    padding: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: rgb(7, 1, 1);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: rgb(22, 18, 18);
}

article {
    position: absolute;
    top: 400px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}