/* stylesheet for rafting website. Created by Xaidie Campbell
/* January 23, 2026 */
:root {
    --primary-color: rgb(36, 57, 46);
    --secondary-color: rgb(111, 155, 237);
    --accent1-color: rgb(222, 230, 220);
    --accent2-color: rgb(221, 48, 17);
    --heading-font: Montserrat;
    --body-font: helvetica;
    --font-family: helvetica;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1 {
    text-align: center;
    padding: 1rem;
    color: rgb(36, 57, 46);
}

h2,
h3 {
    text-align: center;
    padding: 1rem;
    color: rgb(36, 57, 46);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

form {
    display: grid;

    grid-template-rows: repeat(2 auto);
    max-width: 400px;
    margin: 10 auto;
    padding: 15px;
    background-color: rgb(111, 155, 237);
    border: 1px solid black;
    text-align: left;
}

button {
    max-width: 70%;
    background-color: (--accent2-color);
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

section figure {
    grid-row: 1/-1;
    margin: 0;
    text-align: center;
    justify-content: center;
}

section figure img {
    width: 150px;
    height: auto;
}

nav,
section,
article {

    /* display: flex; */
    margin: 16px;
    padding: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: rgb(22, 3, 3);
    /* justify-items: flex-end; */
}

p {
    margin: 16px;
    padding: 8px;
    width: 95%;
    padding: 16px;
    text-align: center;
    background-color: white;
    color: rgb(7, 1, 1);
}

.socialmedia img {
    width: 30px;
    height: auto;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    /* align-items: right; */
    gap: 15px;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: rgb(22, 18, 18);
}

.hero article {
    position: absolute;
    top: 400px;
    width: 95%;
    padding: 5px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: rgb(41, 6, 6);
}

.hero article img {
    float: right;
    width: 125px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    list-style: none;
}

footer a {
    padding: 25px;
    float: right;
    text-decoration: none;
}

.socialmedia a {
    padding: 25px;
    text-decoration: none;
}

.employees {
    max-width: 840px;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 16px;
    padding: 8px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--accent1-color);
}

.employees figure img {
    width: 200px;
    height: auto;
}