/* designed by Xaidie Campbell
code along activity: creating a quiz
February 3, 2026 */

h1 {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(241, 203, 184);
    text-align: center
}

form {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(241, 203, 184);
    text-align: left
}

button {
    max-width: 45rem;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(246, 242, 242);
    text-align: center
}