:root {
    --background-color: rgb(167, 157, 234);
    --heading-text-color: black;
    --heading-font: 'Montserrat';
    --padding: 10px;
    --border: 1px solid black;
    --font-size: 27;
}

header,
.grid,
footer {
    max-width: 840px margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--background-color);
    padding: var(--padding);
    text-align: center;
    border: var(--border);
}

.grid {
    display: grid;
    align-items: center;
}

nav a {

    color: rgb(224, 19, 19);
    display: block;
    padding: 20px;
    text-align: center;
}

h1 {
    color: var(--background-color);
    border-bottom: #000 solid 1px;
}

*p {
    flex-flow: row;
}

main {
    grid-column: 2/2;
    height: 400px;
    border: var(--border);
    padding: 20px;
    box-shadow: 0 0 30px #333;
}

aside {
    max-width: 400px;
    height: 400px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
    color: #333;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    transform: translate(-50%, -50%);
}

img {
    width: 500px;
    height: auto;
    border: 1px solid black;
    /* padding: 2px; */
    box-shadow: 0 0 30px gray;
    position: relative;
}

/* image of boston */
aside img {
    max-width: 300px;
    height: auto;
    position: relative;
    z-index: -1;
}

/* image of me */
main img {
    float: right;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 30px #333;
}

footer {
    margin-top: 25px;
    border-top: 1px solid black;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000
}