:root {
    --background-color: rgb(167, 157, 234);
    --heading-text-color: black;
    --heading-font: 'Montserrat'
        --padding: 10px;
    --border: 1px solid black;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
    text-align: center;
    border: var(--border);
}

nav a {
    color: rgb(224, 19, 19);
    display: block;
    padding: 20px;
    text-align: center;
}

h1 {
    color: var(--background-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 800px;
    height: auto;
    border: var(--border) padding: 10px;
    box-shadow: 0 0 30px #333;
}

aside {
    max-width: 400px;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
    color: #333;
}

aside img {
    max-width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0 30px #333;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}